body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    color: #333;
    text-align: center;
}
#polylineInput {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#copyButton {
    background-color: #4C8BF5;
}
#copyButton:hover {
    background-color: #3C7AD5;
}
#copyButton:disabled {
    background-color: #cccccc;
    color: #666666;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
button:disabled {
    background-color: #cccccc;
    color: #666666;
}
button:disabled:hover {
    background-color: #cccccc;
    color: #666666;
}
button.copied {
    background-color: #aaaaaa;
    color: white;
}
button.copied:hover {
    background-color: #aaaaaa;
    color: white;
}
button:hover {
    background-color: #45a049;
}
.divider {
    height: 80%;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
}
pre {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
}
pre:empty {
    min-height: 50px;
    background-color: #f0f0f0;
}
.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tabButton {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    transition: 0.3s;
}
.tabButton:hover {
    background-color: #bbb;
}
.tabButton.active {
    background-color: #666;
    color: white;
}
#saveSection {
    display: flex;
    align-items: center;
}

#fileTypes {
    margin-left: 10px;
}

#fileTypes input[type="checkbox"] {
    margin-right: 5px;
}
@media only screen and (max-width: 768px) {
    /* Styles for mobile devices */
    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    #saveSection {
        flex-direction: column;
        align-items: center;
    }
    #fileTypes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #tabButtonsSection {
        flex-direction: column;
        align-items: center;
    }
    .tabButton {
        margin-bottom: 10px;
    }
}
